{
    "printWidth": 80,
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "useTabs": false,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        }
    ]
}
